<div class="card border-primary mb-3 mt-2">
    <div class="card-header">
        <h4 class="card-title text-primary text-center">Listado de Clientes</h4>
    </div>
    <div class="card-body text-primary">

        <button *ngIf="authService.tienePermiso('ROLE_ADMIN')" class="btn btn-success my-2 text-right" type="button" [routerLink]="['/clientes/form']" title="NUEVO">
            <mat-icon>add</mat-icon>
        </button>
    
        <div class="alert alert-info" *ngIf="clientes?.length == 0">
            !Sin registros que mostrar!
        </div>

        <table class="table table-bordered table-striped" *ngIf="clientes.length > 0">
            <thead>
                <tr class="text-center">
                    <th *ngIf="authService.tienePermiso('ROLE_USER')">PERFIL</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>CORREO</th>
                    <th>FECHA</th>
                    <th *ngIf="authService.tienePermiso('ROLE_ADMIN')">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="authService.tienePermiso('ROLE_USER')" style="text-align: center;">
                        <img [src]="cliente.imagen" (click)="verDetalle(cliente)" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;" title="DETALLE"/>
                    </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td style="text-align: center;">{{ cliente.fecha | date:"fullDate" }}</td>
                    <td *ngIf="authService.tienePermiso('ROLE_ADMIN')" style="text-align: center;">
                        <button type="button" name="editar" class="btn btn-warning" [routerLink]="['/clientes/form/', cliente.id]" style="margin-right: 10px;" title="EDITAR">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(cliente)" title="ELIMINAR">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <app-paginador-nav *ngIf="paginador" [paginador]="paginador"></app-paginador-nav>

        <!-- 
        <table mat-table [dataSource]="dataSource" class="mat-cell table table-bordered table-striped text-center">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
                <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="text-center">NOMBRE</th>
                <td mat-cell *matCellDef="let cliente">{{ cliente.nombre }}</td>
            </ng-container>
            
            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef class="text-center">APELLIDO</th>
                <td mat-cell *matCellDef="let cliente">{{ cliente.apellido }}</td>
            </ng-container>

            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef class="text-center">CORREO</th>
                <td mat-cell *matCellDef="let cliente">{{ cliente.correo }}</td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef class="text-center">FECHA</th>
                <td mat-cell *matCellDef="let cliente">{{ cliente.fecha | date:"fullDate"}}</td>
            </ng-container>                        
            
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="text-center">ACCIONES</th>
                <td mat-cell *matCellDef="let cliente; let i = index;" class="text-center">

                    <button type="button" name="button" class="btn btn-warning" [routerLink]="['/clientes/form/', cliente.id]" style="margin-right: 10px;" title="EDITAR">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button type="button" name="button" class="btn btn-danger" (click)="delete(cliente)" title="ELIMINAR">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons ></mat-paginator>
        -->
    </div>
</div>

<cliente-detalle *ngIf="clienteSelec" [cliente]="clienteSelec"></cliente-detalle>